#banner3 img {
  width: 100%;
  height: auto;
}
/* estilo de la numeracion para moverse entre pagibna*/
.page {
  margin: 20px 0;
}

.page ul {
  list-style: none;
  text-align: center;
}

.page ul li {
  display: inline-block;
  margin-right: 10px;
}

.page ul li a {
  display: block;
  padding: 8px 20px;
  color: #fff;
  background: #9db2bd;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.5s;
  margin: 2px;
}

.page ul li a:hover {
  background: #037e8c;
  transform: scale(1.1);
}

.page ul li .active {
  font-weight: bold;
}

/*buscador*/
.tabla-list {
  text-align: -webkit-center;
}

#search {
  border: 1px solid rgb(0, 0, 0);
  margin: 1px;
}

#myTable {
  text-align: initial;
}

/*formulario*/
.formulario {
  background-color: #d1d4dc;
  min-width: 65%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
}
.formulario input {
  width: 10rem;
  border: 1px solid;
}
.formulario textarea {
  width: 10rem;
  height: 100px;
  border: 1px solid;
}
/*///////////*/
/*publicidad*/
.amazon-1 {
  margin-top: 50px;
  max-width: 100%;
}

.fiel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.article {
  background-color: yellow;
  position: relative;
  border: 1px solid #d1d4dc;
}
.article img {
  align-items: center;
  width: 250px;
  height: 350px;
  position: relative;
}
/*button*/
.button-3{
  background-color: black;
  color: #fff;
  padding: 10px;
 width: 150px;
 text-decoration: none;
 cursor: pointer;
 border: none;
 text-align: center;
}
.button-3:hover{
  border: 1px solid rgb(0, 0, 0);
  background-color: #fff;
  color: rgb(0, 0, 0);
}

/*/////////////*/
/*footer*/
.footer img{
  max-width: 20px;
  margin: 0px 60px;
}
/*//////*/