#banner3 img {
  width: 100%;
  height: auto;
}
/* estilo de la numeracion para moverse entre pagibna*/
.page {
  margin: 20px 0;
}

.page ul {
  list-style: none;
  text-align: center;
}

.page ul li {
  display: inline-block;
  margin-right: 10px;
}

.page ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  background: #9db2bd;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.5s;
}

.page ul li a:hover {
  background: #037e8c;
  transform: scale(1.1);
}

.page ul li .active {
  font-weight: bold;
}

/*buscador*/

#searchInput {
  border: 1px solid rgb(0, 0, 0);
}

#search {
  border: 1px solid rgb(0, 0, 0);
}

.lista-2 {
  text-align: -webkit-center;
}

/*formulario*/
.formulario {
  background-color: #d1d4dc;
  min-width: 62%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}
.formulario input {
  width: 10rem;
}
.formulario textarea {
  width: 10rem;
  height: 100px;
}
/*///////////*/
/*publicidad*/
.amazon-1{
  margin-top: 50px;
  max-width: 100%;
}
.p-1{
 background-color: #fff;
}
.amazon-1 img{
  width: 100%;
}
.fiel{
  padding: 20px;
}
/*/////////////*/
